## Load the CSV

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("synthetic_energy_bilbao_2025.csv", parse_dates=["datetime"])
df.head()

,datetime,hour,month,dayofyear,solar_irradiation,ambient_temperature,solar_energy_generated,energy_consumption,net_energy
0,2025-01-01 00:00:00,0,1,1,0.0,6.560510,0.0,0.602139,-0.602139
1,2025-01-01 01:00:00,1,1,1,0.0,5.824868,0.0,0.487873,-0.487873
2,2025-01-01 02:00:00,2,1,1,0.0,7.851985,0.0,0.506257,-0.506257
3,2025-01-01 03:00:00,3,1,1,0.0,6.549899,0.0,0.389165,-0.389165
4,2025-01-01 04:00:00,4,1,1,0.0,8.440873,0.0,0.226645,-0.226645

## Save state and load state

In [7]:
def save_state(dataframe, filename="app_state.csv"):
    dataframe.to_csv(filename, index=False)
    
def load_state(filename="app_state.csv"):
    return pd.read_csv(filename, parse_dates=["datetime"])

## Update with new rows

In [11]:
def add_hour(df):
    new_row = df.iloc[-1].copy()                    
    new_row["datetime"] = new_row["datetime"] + pd.Timedelta(hours=1) 
    df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)   
    return df

def add_hours(df, n=1):
    for _ in range(n):
        df = add_hour(df)
    return df

df = add_hours(df, n = 5)
save_state(df)

## Conflict handling