In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("default")

## Timeline creation (September, hourly)

In [4]:
start_date = "2026-09-01 00:00"
end_date = "2026-09-30 23:00"

datetime_index = pd.date_range(
    start = start_date,
    end = end_date,
    freq = "h"
)

len(datetime_index)

720

## DataFrame creation

In [6]:
df = pd.DataFrame({"datetime":datetime_index})
df["hour"] = df["datetime"].dt.hour
df["day"]= df["datetime"].dt.day
df.head()

             datetime  hour  day
0 2026-09-01 00:00:00     0    1
1 2026-09-01 01:00:00     1    1
2 2026-09-01 02:00:00     2    1
3 2026-09-01 03:00:00     3    1
4 2026-09-01 04:00:00     4    1

## Generate Solar Irradiation

In [72]:
def generate_solar_irradiation (hour, max_irradiation = 712):
    if hour<8 or hour>20:
        return 0
    return max_irradiation * np.sin(
        np.pi * (hour-8)/(20-8)
    )

In [73]:
df["solar_irradiation"] = df["hour"].apply(generate_solar_irradiation)
#Random noise, average = 0, standar deviation = 0, random value for each dataframe row
noise = np.random.normal(0, 50, size=len(df))
#Sum the noise and if negative equals 0
df["solar_irradiation"] = np.maximum(df["solar_irradiation"] + noise, 0)
df.loc[(df["hour"] < 8) | (df["hour"] > 20), "solar_irradiation"] = 0
df[["datetime", "hour", "solar_irradiation"]].head(48)

              datetime  hour  solar_irradiation
0  2026-09-01 00:00:00     0           0.000000
1  2026-09-01 01:00:00     1           0.000000
2  2026-09-01 02:00:00     2           0.000000
3  2026-09-01 03:00:00     3           0.000000
4  2026-09-01 04:00:00     4           0.000000
5  2026-09-01 05:00:00     5           0.000000
6  2026-09-01 06:00:00     6           0.000000
7  2026-09-01 07:00:00     7           0.000000
8  2026-09-01 08:00:00     8          33.624376
9  2026-09-01 09:00:00     9         186.829709
10 2026-09-01 10:00:00    10         315.856525
11 2026-09-01 11:00:00    11         487.370479
12 2026-09-01 12:00:00    12         556.430022
13 2026-09-01 13:00:00    13         747.668418
14 2026-09-01 14:00:00    14         657.836281
15 2026-09-01 15:00:00    15         706.203562
16 2026-09-01 16:00:00    16         607.378625
17 2026-09-01 17:00:00    17         493.779866
18 2026-09-01 18:00:00    18         433.725454
19 2026-09-01 19:00:00    19         163.237082
20 2026-09-01 20:00:00    20           0.000000
21 2026-09-01 21:00:00    21           0.000000
22 2026-09-01 22:00:00    22           0.000000
23 2026-09-01 23:00:00    23           0.000000
24 2026-09-02 00:00:00     0           0.000000
25 2026-09-02 01:00:00     1           0.000000
26 2026-09-02 02:00:00     2           0.000000
27 2026-09-02 03:00:00     3           0.000000
28 2026-09-02 04:00:00     4           0.000000
29 2026-09-02 05:00:00     5           0.000000
30 2026-09-02 06:00:00     6           0.000000
31 2026-09-02 07:00:00     7           0.000000
32 2026-09-02 08:00:00     8          37.786425
33 2026-09-02 09:00:00     9         220.676973
34 2026-09-02 10:00:00    10         255.142706
35 2026-09-02 11:00:00    11         507.293634
36 2026-09-02 12:00:00    12         670.731850
37 2026-09-02 13:00:00    13         642.531129
38 2026-09-02 14:00:00    14         670.545425
39 2026-09-02 15:00:00    15         784.229108
40 2026-09-02 16:00:00    16         675.914517
41 2026-09-02 17:00:00    17         410.734798
42 2026-09-02 18:00:00    18         301.563113
43 2026-09-02 19:00:00    19         144.717850
44 2026-09-02 20:00:00    20         119.174865
45 2026-09-02 21:00:00    21           0.000000
46 2026-09-02 22:00:00    22           0.000000
47 2026-09-02 23:00:00    23           0.000000

## Temperature Generation

In [81]:
base_temp = 19
df["ambient_temperature"] = (
    base_temp + 5 * np.sin(np.pi * (df["hour"] - 6) / 24) + np.random.normal(0, 1.5, size=len(df))
)

df[["datetime","hour", "ambient_temperature"]].head(48)

              datetime  hour  ambient_temperature
0  2026-09-01 00:00:00     0            16.633703
1  2026-09-01 01:00:00     1            19.218144
2  2026-09-01 02:00:00     2            14.052287
3  2026-09-01 03:00:00     3            16.229916
4  2026-09-01 04:00:00     4            17.078144
5  2026-09-01 05:00:00     5            17.009701
6  2026-09-01 06:00:00     6            18.752725
7  2026-09-01 07:00:00     7            20.279040
8  2026-09-01 08:00:00     8            22.298447
9  2026-09-01 09:00:00     9            20.763807
10 2026-09-01 10:00:00    10            22.376479
11 2026-09-01 11:00:00    11            21.145175
12 2026-09-01 12:00:00    12            23.713874
13 2026-09-01 13:00:00    13            23.884473
14 2026-09-01 14:00:00    14            23.221561
15 2026-09-01 15:00:00    15            24.150483
16 2026-09-01 16:00:00    16            24.141714
17 2026-09-01 17:00:00    17            24.517154
18 2026-09-01 18:00:00    18            22.591132
19 2026-09-01 19:00:00    19            23.892851
20 2026-09-01 20:00:00    20            26.613641
21 2026-09-01 21:00:00    21            25.339878
22 2026-09-01 22:00:00    22            23.612117
23 2026-09-01 23:00:00    23            24.177817
24 2026-09-02 00:00:00     0            15.833044
25 2026-09-02 01:00:00     1            17.136316
26 2026-09-02 02:00:00     2            17.838590
27 2026-09-02 03:00:00     3            18.129261
28 2026-09-02 04:00:00     4            18.199741
29 2026-09-02 05:00:00     5            17.991487
30 2026-09-02 06:00:00     6            20.936819
31 2026-09-02 07:00:00     7            18.244525
32 2026-09-02 08:00:00     8            19.864507
33 2026-09-02 09:00:00     9            21.400304
34 2026-09-02 10:00:00    10            20.410379
35 2026-09-02 11:00:00    11            22.773672
36 2026-09-02 12:00:00    12            21.046089
37 2026-09-02 13:00:00    13            23.676208
38 2026-09-02 14:00:00    14            21.169749
39 2026-09-02 15:00:00    15            23.247948
40 2026-09-02 16:00:00    16            19.942768
41 2026-09-02 17:00:00    17            22.255486
42 2026-09-02 18:00:00    18            22.845996
43 2026-09-02 19:00:00    19            20.665411
44 2026-09-02 20:00:00    20            24.807400
45 2026-09-02 21:00:00    21            22.748525
46 2026-09-02 22:00:00    22            24.434525
47 2026-09-02 23:00:00    23            23.517430

## Generation of Solar Energy Produced

In [85]:
system_capacity = 5 #kWp
constant = 0.0009 

df["solar_energy_generated"] = (
    df["solar_irradiation"] * system_capacity * constant
)

df[["datetime" ,"solar_irradiation", "solar_energy_generated"]].head(48)

              datetime  solar_irradiation  solar_energy_generated
0  2026-09-01 00:00:00           0.000000                0.000000
1  2026-09-01 01:00:00           0.000000                0.000000
2  2026-09-01 02:00:00           0.000000                0.000000
3  2026-09-01 03:00:00           0.000000                0.000000
4  2026-09-01 04:00:00           0.000000                0.000000
5  2026-09-01 05:00:00           0.000000                0.000000
6  2026-09-01 06:00:00           0.000000                0.000000
7  2026-09-01 07:00:00           0.000000                0.000000
8  2026-09-01 08:00:00          33.624376                0.151310
9  2026-09-01 09:00:00         186.829709                0.840734
10 2026-09-01 10:00:00         315.856525                1.421354
11 2026-09-01 11:00:00         487.370479                2.193167
12 2026-09-01 12:00:00         556.430022                2.503935
13 2026-09-01 13:00:00         747.668418                3.364508
14 2026-09-01 14:00:00         657.836281                2.960263
15 2026-09-01 15:00:00         706.203562                3.177916
16 2026-09-01 16:00:00         607.378625                2.733204
17 2026-09-01 17:00:00         493.779866                2.222009
18 2026-09-01 18:00:00         433.725454                1.951765
19 2026-09-01 19:00:00         163.237082                0.734567
20 2026-09-01 20:00:00           0.000000                0.000000
21 2026-09-01 21:00:00           0.000000                0.000000
22 2026-09-01 22:00:00           0.000000                0.000000
23 2026-09-01 23:00:00           0.000000                0.000000
24 2026-09-02 00:00:00           0.000000                0.000000
25 2026-09-02 01:00:00           0.000000                0.000000
26 2026-09-02 02:00:00           0.000000                0.000000
27 2026-09-02 03:00:00           0.000000                0.000000
28 2026-09-02 04:00:00           0.000000                0.000000
29 2026-09-02 05:00:00           0.000000                0.000000
30 2026-09-02 06:00:00           0.000000                0.000000
31 2026-09-02 07:00:00           0.000000                0.000000
32 2026-09-02 08:00:00          37.786425                0.170039
33 2026-09-02 09:00:00         220.676973                0.993046
34 2026-09-02 10:00:00         255.142706                1.148142
35 2026-09-02 11:00:00         507.293634                2.282821
36 2026-09-02 12:00:00         670.731850                3.018293
37 2026-09-02 13:00:00         642.531129                2.891390
38 2026-09-02 14:00:00         670.545425                3.017454
39 2026-09-02 15:00:00         784.229108                3.529031
40 2026-09-02 16:00:00         675.914517                3.041615
41 2026-09-02 17:00:00         410.734798                1.848307
42 2026-09-02 18:00:00         301.563113                1.357034
43 2026-09-02 19:00:00         144.717850                0.651230
44 2026-09-02 20:00:00         119.174865                0.536287
45 2026-09-02 21:00:00           0.000000                0.000000
46 2026-09-02 22:00:00           0.000000                0.000000
47 2026-09-02 23:00:00           0.000000                0.000000

## Generation of energy comsuption

In [86]:
def generate_consumption(hour):
    if 7 <= hour <= 9:
        return np.random.uniform(0.6, 0.9)
    elif 18 <= hour <= 22:
        return np.random.uniform(0.7, 1.0)
    elif 0 <= hour <= 5:
        return np.random.uniform(0.2, 0.4)
    else:
        return np.random.uniform(0.3, 0.6)

df["energy_consumption"] = df["hour"].apply(generate_consumption)

df[["hour", "energy_consumption"]].head(48)

    hour  energy_consumption
0      0            0.294577
1      1            0.234276
2      2            0.352419
3      3            0.332200
4      4            0.396713
5      5            0.340713
6      6            0.424321
7      7            0.834096
8      8            0.683769
9      9            0.609497
10    10            0.485128
11    11            0.422366
12    12            0.554995
13    13            0.376542
14    14            0.433527
15    15            0.420257
16    16            0.544854
17    17            0.423861
18    18            0.901567
19    19            0.916573
20    20            0.928697
21    21            0.924762
22    22            0.726958
23    23            0.384122
24     0            0.313515
25     1            0.379561
26     2            0.381528
27     3            0.274131
28     4            0.354921
29     5            0.214715
30     6            0.520367
31     7            0.674067
32     8            0.661763
33     9            0.730951
34    10            0.413803
35    11            0.334926
36    12            0.562270
37    13            0.361733
38    14            0.342037
39    15            0.598048
40    16            0.316813
41    17            0.404539
42    18            0.963924
43    19            0.974626
44    20            0.875329
45    21            0.786099
46    22            0.832807
47    23            0.562691

## Generation of Net Energy

In [88]:
df["net_energy"] = (
    df["solar_energy_generated"] -
    df["energy_consumption"]
)

df.head(48)

,datetime,hour,day,solar_irradiation,ambient_temperature,solar_energy_generated,energy_consumption,net_energy
0,2026-09-01 00:00:00,0,1,0.000000,16.633703,0.000000,0.294577,-0.294577
1,2026-09-01 01:00:00,1,1,0.000000,19.218144,0.000000,0.234276,-0.234276
2,2026-09-01 02:00:00,2,1,0.000000,14.052287,0.000000,0.352419,-0.352419
3,2026-09-01 03:00:00,3,1,0.000000,16.229916,0.000000,0.332200,-0.332200
4,2026-09-01 04:00:00,4,1,0.000000,17.078144,0.000000,0.396713,-0.396713
5,2026-09-01 05:00:00,5,1,0.000000,17.009701,0.000000,0.340713,-0.340713
6,2026-09-01 06:00:00,6,1,0.000000,18.752725,0.000000,0.424321,-0.424321
7,2026-09-01 07:00:00,7,1,0.000000,20.279040,0.000000,0.834096,-0.834096
8,2026-09-01 08:00:00,8,1,33.624376,22.298447,0.151310,0.683769,-0.532460
9,2026-09-01 09:00:00,9,1,186.829709,20.763807,0.840734,0.609497,0.231237
10,2026-09-01 10:00:00,10,1,315.856525,22.376479,1.421354,0.485128,0.936226
11,2026-09-01 11:00:00,11,1,487.370479,21.145175,2.193167,0.422366,1.770801
12,2026-09-01 12:00:00,12,1,556.430022,23.713874,2.503935,0.554995,1.948940
13,2026-09-01 13:00:00,13,1,747.668418,23.884473,3.364508,0.376542,2.987966
14,2026-09-01 14:00:00,14,1,657.836281,23.221561,2.960263,0.433527,2.526736
15,2026-09-01 15:00:00,15,1,706.203562,24.150483,3.177916,0.420257,2.757659
16,2026-09-01 16:00:00,16,1,607.378625,24.141714,2.733204,0.544854,2.188350
17,2026-09-01 17:00:00,17,1,493.779866,24.517154,2.222009,0.423861,1.798148
18,2026-09-01 18:00:00,18,1,433.725454,22.591132,1.951765,0.901567,1.050198
19,2026-09-01 19:00:00,19,1,163.237082,23.892851,0.734567,0.916573,-0.182006
20,2026-09-01 20:00:00,20,1,0.000000,26.613641,0.000000,0.928697,-0.928697
21,2026-09-01 21:00:00,21,1,0.000000,25.339878,0.000000,0.924762,-0.924762
22,2026-09-01 22:00:00,22,1,0.000000,23.612117,0.000000,0.726958,-0.726958
23,2026-09-01 23:00:00,23,1,0.000000,24.177817,0.000000,0.384122,-0.384122
24,2026-09-02 00:00:00,0,2,0.000000,15.833044,0.000000,0.313515,-0.313515
25,2026-09-02 01:00:00,1,2,0.000000,17.136316,0.000000,0.379561,-0.379561
26,2026-09-02 02:00:00,2,2,0.000000,17.838590,0.000000,0.381528,-0.381528
27,2026-09-02 03:00:00,3,2,0.000000,18.129261,0.000000,0.274131,-0.274131
28,2026-09-02 04:00:00,4,2,0.000000,18.199741,0.000000,0.354921,-0.354921
29,2026-09-02 05:00:00,5,2,0.000000,17.991487,0.000000,0.214715,-0.214715
30,2026-09-02 06:00:00,6,2,0.000000,20.936819,0.000000,0.520367,-0.520367
31,2026-09-02 07:00:00,7,2,0.000000,18.244525,0.000000,0.674067,-0.674067
32,2026-09-02 08:00:00,8,2,37.786425,19.864507,0.170039,0.661763,-0.491724
33,2026-09-02 09:00:00,9,2,220.676973,21.400304,0.993046,0.730951,0.262095
34,2026-09-02 10:00:00,10,2,255.142706,20.410379,1.148142,0.413803,0.734339
35,2026-09-02 11:00:00,11,2,507.293634,22.773672,2.282821,0.334926,1.947895
36,2026-09-02 12:00:00,12,2,670.731850,21.046089,3.018293,0.562270,2.456023
37,2026-09-02 13:00:00,13,2,642.531129,23.676208,2.891390,0.361733,2.529657
38,2026-09-02 14:00:00,14,2,670.545425,21.169749,3.017454,0.342037,2.675418
39,2026-09-02 15:00:00,15,2,784.229108,23.247948,3.529031,0.598048,2.930983
40,2026-09-02 16:00:00,16,2,675.914517,19.942768,3.041615,0.316813,2.724802
41,2026-09-02 17:00:00,17,2,410.734798,22.255486,1.848307,0.404539,1.443768
42,2026-09-02 18:00:00,18,2,301.563113,22.845996,1.357034,0.963924,0.393110
43,2026-09-02 19:00:00,19,2,144.717850,20.665411,0.651230,0.974626,-0.323395
44,2026-09-02 20:00:00,20,2,119.174865,24.807400,0.536287,0.875329,-0.339042
45,2026-09-02 21:00:00,21,2,0.000000,22.748525,0.000000,0.786099,-0.786099
46,2026-09-02 22:00:00,22,2,0.000000,24.434525,0.000000,0.832807,-0.832807
47,2026-09-02 23:00:00,23,2,0.000000,23.517430,0.000000,0.562691,-0.562691

## Persitence

In [90]:
df.to_csv("synthetic_solar_data_september_bilbao.csv", index=False)
df_loaded = pd.read_csv("synthetic_solar_data_september_bilbao.csv")
df_loaded.head()

,datetime,hour,day,solar_irradiation,ambient_temperature,solar_energy_generated,energy_consumption,net_energy
0,2026-09-01 00:00:00,0,1,0.0,16.633703,0.0,0.294577,-0.294577
1,2026-09-01 01:00:00,1,1,0.0,19.218144,0.0,0.234276,-0.234276
2,2026-09-01 02:00:00,2,1,0.0,14.052287,0.0,0.352419,-0.352419
3,2026-09-01 03:00:00,3,1,0.0,16.229916,0.0,0.332200,-0.332200
4,2026-09-01 04:00:00,4,1,0.0,17.078144,0.0,0.396713,-0.396713