In [16]:
import numpy as np
import pandas as pd
df = pd.read_csv(
    "BilbaoSun.csv",
     skiprows=9
)
df.head(48)

    YEAR  MO  DY  HR  ALLSKY_SFC_SW_DWN
0   2024   1   1   0               0.00
1   2024   1   1   1               0.00
2   2024   1   1   2               0.00
3   2024   1   1   3               0.00
4   2024   1   1   4               0.00
5   2024   1   1   5               0.00
6   2024   1   1   6               0.00
7   2024   1   1   7               0.00
8   2024   1   1   8              54.20
9   2024   1   1   9             172.55
10  2024   1   1  10             277.42
11  2024   1   1  11             348.55
12  2024   1   1  12             369.00
13  2024   1   1  13             340.08
14  2024   1   1  14             244.10
15  2024   1   1  15             118.30
16  2024   1   1  16              13.48
17  2024   1   1  17               0.00
18  2024   1   1  18               0.00
19  2024   1   1  19               0.00
20  2024   1   1  20               0.00
21  2024   1   1  21               0.00
22  2024   1   1  22               0.00
23  2024   1   1  23               0.00
24  2024   1   2   0               0.00
25  2024   1   2   1               0.00
26  2024   1   2   2               0.00
27  2024   1   2   3               0.00
28  2024   1   2   4               0.00
29  2024   1   2   5               0.00
30  2024   1   2   6               0.00
31  2024   1   2   7               0.00
32  2024   1   2   8              19.62
33  2024   1   2   9              47.83
34  2024   1   2  10              59.00
35  2024   1   2  11              73.62
36  2024   1   2  12              98.43
37  2024   1   2  13              53.08
38  2024   1   2  14              42.08
39  2024   1   2  15              27.60
40  2024   1   2  16               5.90
41  2024   1   2  17               0.00
42  2024   1   2  18               0.00
43  2024   1   2  19               0.00
44  2024   1   2  20               0.00
45  2024   1   2  21               0.00
46  2024   1   2  22               0.00
47  2024   1   2  23               0.00

## Rename columns

In [17]:
df_renamed = df.rename(columns={
    "YEAR": "year",
    "MO": "month",
    "DY": "day",
    "HR": "hour"
})

## Create datetime column

In [18]:
df_renamed["datetime"] = pd.to_datetime(df_renamed[["year","month","day","hour"]])

## Convert Wh/m² to kWh/m²

In [19]:
df_renamed["irr_kWh_m2"] = df_renamed["ALLSKY_SFC_SW_DWN"] / 1000

## Max

In [20]:
irradiacion_max_mensual = (
    df_renamed.groupby('month')['ALLSKY_SFC_SW_DWN']
      .max()
      .reset_index()
)

print(irradiacion_max_mensual)

    month  ALLSKY_SFC_SW_DWN
0       1             481.33
1       2             553.28
2       3             725.67
3       4             902.10
4       5             926.22
5       6             925.20
6       7             923.78
7       8             891.70
8       9             782.35
9      10             622.25
10     11             495.02
11     12             382.33