In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv(
    "BilbaoSun.csv",
     skiprows=9
)
df.head()

   YEAR  MO  DY  HR  ALLSKY_SFC_SW_DWN
0  2025   9   1   0                0.0
1  2025   9   1   1                0.0
2  2025   9   1   2                0.0
3  2025   9   1   3                0.0
4  2025   9   1   4                0.0

## Rename columns

In [2]:
df_renamed = df.rename(columns={
    "YEAR": "year",
    "MO": "month",
    "DY": "day",
    "HR": "hour"
})

## Create datetime column

In [3]:
df_renamed["datetime"] = pd.to_datetime(df_renamed[["year","month","day","hour"]])

## Convert Wh/m² to kWh/m²

In [4]:
df_renamed["irr_kWh_m2"] = df_renamed["ALLSKY_SFC_SW_DWN"] / 1000

## Max

In [5]:
max_val = df_renamed["ALLSKY_SFC_SW_DWN"].max()
print(max_val)

784.25

## Min

In [6]:
min_val = df_renamed["ALLSKY_SFC_SW_DWN"].min()
print(min_val)

0.0

## Average

In [7]:
avg_val = df["ALLSKY_SFC_SW_DWN"].mean()
print(avg_val)

163.14829166666667

In [8]:
df_renamed.head()

   year  month  day  hour  ALLSKY_SFC_SW_DWN            datetime  irr_kWh_m2
0  2025      9    1     0                0.0 2025-09-01 00:00:00         0.0
1  2025      9    1     1                0.0 2025-09-01 01:00:00         0.0
2  2025      9    1     2                0.0 2025-09-01 02:00:00         0.0
3  2025      9    1     3                0.0 2025-09-01 03:00:00         0.0
4  2025      9    1     4                0.0 2025-09-01 04:00:00         0.0