In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("default")

## Timeline creation (September, hourly)

In [4]:
start_date = "2026-09-01 00:00"
end_date = "2026-09-30 23:00"

datetime_index = pd.date_range(
    start = start_date,
    end = end_date,
    freq = "h"
)

len(datetime_index)

720

## DataFrame creation

In [6]:
df = pd.DataFrame({"datetime":datetime_index})
df["hour"] = df["datetime"].dt.hour
df["day"]= df["datetime"].dt.day
df.head()

             datetime  hour  day
0 2026-09-01 00:00:00     0    1
1 2026-09-01 01:00:00     1    1
2 2026-09-01 02:00:00     2    1
3 2026-09-01 03:00:00     3    1
4 2026-09-01 04:00:00     4    1

## Generate Solar Irradiation

In [69]:
def generate_solar_irradiation (hour, max_irradiation = 710):
    if hour<8 or hour>20:
        return 0
    return max_irradiation * np.sin(
        np.pi * (hour-8)/(20-8)
    )

In [70]:
df["solar_irradiation"] = df["hour"].apply(generate_solar_irradiation)
#Random noise, average = 0, standar deviation = 0, random value for each dataframe row
noise = np.random.normal(0, 50, size=len(df))
#Sum the noise and if negative equals 0
df["solar_irradiation"] = np.maximum(df["solar_irradiation"] + noise, 0)
df.loc[(df["hour"] < 8) | (df["hour"] > 20), "solar_irradiation"] = 0
df[["datetime", "hour", "solar_irradiation"]].head(48)

              datetime  hour  solar_irradiation
0  2026-09-01 00:00:00     0           0.000000
1  2026-09-01 01:00:00     1           0.000000
2  2026-09-01 02:00:00     2           0.000000
3  2026-09-01 03:00:00     3           0.000000
4  2026-09-01 04:00:00     4           0.000000
5  2026-09-01 05:00:00     5           0.000000
6  2026-09-01 06:00:00     6           0.000000
7  2026-09-01 07:00:00     7           0.000000
8  2026-09-01 08:00:00     8           0.000000
9  2026-09-01 09:00:00     9          79.547115
10 2026-09-01 10:00:00    10         421.341305
11 2026-09-01 11:00:00    11         439.303610
12 2026-09-01 12:00:00    12         537.163676
13 2026-09-01 13:00:00    13         688.597165
14 2026-09-01 14:00:00    14         628.990659
15 2026-09-01 15:00:00    15         669.910692
16 2026-09-01 16:00:00    16         629.227665
17 2026-09-01 17:00:00    17         456.410673
18 2026-09-01 18:00:00    18         323.870260
19 2026-09-01 19:00:00    19         216.048134
20 2026-09-01 20:00:00    20           0.000000
21 2026-09-01 21:00:00    21           0.000000
22 2026-09-01 22:00:00    22           0.000000
23 2026-09-01 23:00:00    23           0.000000
24 2026-09-02 00:00:00     0           0.000000
25 2026-09-02 01:00:00     1           0.000000
26 2026-09-02 02:00:00     2           0.000000
27 2026-09-02 03:00:00     3           0.000000
28 2026-09-02 04:00:00     4           0.000000
29 2026-09-02 05:00:00     5           0.000000
30 2026-09-02 06:00:00     6           0.000000
31 2026-09-02 07:00:00     7           0.000000
32 2026-09-02 08:00:00     8           0.000000
33 2026-09-02 09:00:00     9         205.810754
34 2026-09-02 10:00:00    10         360.398618
35 2026-09-02 11:00:00    11         472.833244
36 2026-09-02 12:00:00    12         468.973180
37 2026-09-02 13:00:00    13         703.794574
38 2026-09-02 14:00:00    14         734.120722
39 2026-09-02 15:00:00    15         639.017883
40 2026-09-02 16:00:00    16         635.240993
41 2026-09-02 17:00:00    17         485.409530
42 2026-09-02 18:00:00    18         418.729531
43 2026-09-02 19:00:00    19         217.784465
44 2026-09-02 20:00:00    20           0.000000
45 2026-09-02 21:00:00    21           0.000000
46 2026-09-02 22:00:00    22           0.000000
47 2026-09-02 23:00:00    23           0.000000

In [71]:
avg_val = df["solar_irradiation"].mean()
print(avg_val)

224.63764387542008